<div class="container mt-4">
  <div class="card mb-3">
    <div class="card-header">
      <h3>Crear Nueva Pregunta</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {{#with error}}
            <div class="alert alert-danger" role="alert">
              {{this}}
            </div>
          {{/with}}
          <form method="POST" action="/create-question" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título" required>
            </div>
            <div class="form-group">
              <label for="image">Image(PNG)</label>
              <input type="file" name="image" id="image" accept="image/png">
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea class="form-control" id="description" name="description" placeholder="Ingrese la descripción"
                required></textarea>
            </div>
            <div class="text-center mt-5">
              <input type="hidden" name="crumb" value="{{crumb}}">
              <button type="submit" class="btn btn-primary">Crear Pregunta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
