
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-white">
  <div class="container">
    <h1 class="display-3">Pregunta y Responde</h1>
    <p>
      El mejor lugar para aprender y ayudar a quienes están aprendiendo, crea preguntas para resolver
      tus dudas y comparte tu conocimiento respondiendo si conoces del tema
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <h2 class="mb-4">Últimas preguntas</h2>

  {{#each questions as |question key|}}
    <div class="card bg-white mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-2 text-center">
            <a href="/question/{{key}}" class="text-dark">
              <h3>
                {{answerNumber question.answers}}
              </h3>
              Respuestas
            </a>
          </div>
          <div class="col-10 d-flex align-items-stretch">
            <h4 class="mt-3">
              <a href="/question/{{key}}" class="text-dark">{{question.title}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {{/each}}


</div> <!-- /container -->

  