<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/assets/css/platzi-overflow.css" />
  <link rel="stylesheet" href="/assets/css/custom.css" />

  <title>PlatziOverflow - {{title}}</title>
</head>

<body class="bg-secondary">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light bg-primary row align-items-center">
        <div class="container">
          <div class="col m-2">
            <h1><a href="/"><img src="/assets/images/logo.png" style="max-height: 60px;"></a></h1>
          </div>
          {{#if user}}
            <div class="col m-2 text-right">
              <h3><span class="badge badge-info">{{user.name}}</span></h3>
              <a href="/ask" class="btn btn-primary btn-lg border border-white" role="button" aria-pressed="true">Preguntar</a>
              <a href="/logout" class="btn btn-primary btn-lg border border-white ml-2" role="button" aria-pressed="true">Salir</a>
            </div>
          {{else}}
            <div class="col m-2 text-right">
              <a href="/login" class="btn btn-primary btn-lg border border-white" role="button" aria-pressed="true">Login</a>
              <a href="/register" class="btn btn-primary btn-lg border border-white ml-2" role="button" aria-pressed="true">Registrarse</a>
            </div>
          {{/if}}
        </div>
      </nav>
    </div>
  </header>

  <main role="main" class="container-fluid">
    {{{content}}}
  </main>

  <footer class="footer swatch-900 mt-4">
    <div class="container">
      <p class="text-center">Curso de hapi.js - <a href="https://platzi.com" target="blank"><img src="/assets/images/logo-platzi.png"
            class="small-logo" /></a> &copy; 2019</p>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
</body>

</html>
