<div class="container mt-4">
  <div class="card mb-3">
    <div class="card-header">
      <h3>Ingrese</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {{#with error}}
            <div class="alert alert-danger" role="alert">
              {{this}}
            </div>
          {{/with}}
          {{#with success}}
            <div class="alert alert-success" role="alert">
              {{this}}
            </div>
          {{/with}}
          <form method="POST" action="/validate-user">
            <div class="form-group">
              <label for="email">Correo</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo">
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña"
                pattern=".{6,}" required>
            </div>
            <div class="text-center mt-5">
              <input type="hidden" name="crumb" value="{{crumb}}">
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
