<div class="container mt-4">
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">{{question.title}}</h4>
    <p>{{question.description}}</p>
    {{#with question.filename}}
        <p class="text-center">
          <img style="max-width:80%" src="/assets/uploads/{{this}}" alt="image question">
        </p>
      {{/with}}
    <p class="mb-0">Creada por <strong>{{question.owner.name}}</strong></p>
  </div>

  {{#each question.answers as |answer key|}}
    <div class="alert {{#if answer.correct}}alert-success{{else}} alert-info {{/if}}" role="alert">
      <p>{{answer.text}}</p>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            Creada por <strong>{{answer.user.name}}</strong>
          </div>
          <div class="col-sm text-right">
            {{#with user}}
              {{#ifEquals ../../question.owner.email ../../user.email }}
                {{#unless answers.correct}}
                  <a href="/answer/{{../../../../key}}/{{key}}" class="btn btn-primary" role="button">Elegir respuesta correcta</a>
                {{/unless}}
              {{/ifEquals}}
            {{/with}}

            {{#if answer.correct}}
              <span class="badge badge-pill badge-success mt-2">Respuesta correcta</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  {{#if user}}
    <div class="card mb-3">
      <div class="card-header">
        <h3>Responder</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form method="POST" action="/answer-question">
              <div class="form-group">
                <label for="answer">Respuesta</label>
                <textarea class="form-control" id="answer" name="answer" placeholder="Ingrese la respuesta" required></textarea>
                <input type="hidden" name="id" value="{{key}}" />
              </div>
              <div class="text-center mt-5">
                <input type="hidden" name="crumb" value="{{crumb}}">
                <button type="submit" class="btn btn-primary">Enviar respuesta</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <p class="text-center mt-5">Solo los usuarios registrados pueden responder preguntas.</p>
    <p class="text-center"><a href="/login" class="btn btn-primary" role="button">Iniciar sesión</a></p>
  {{/if}}

</div>
